<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid justify-content-center">
        <p class="text-white text-center m-0">Личный кабинет</p>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/profile/studentgrades">
                Моя успеваемость
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/profile/studentachievements">
                Мои достижения
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/profile/teacherinfo">
                Преподаватели
            </NavLink>
        </div>
    </nav>
</div>

